In [1]:
import os
import json

In [5]:
DATA_DIR = os.path.join('data', 'boxofficemojo')
files=os.listdir(DATA_DIR)

In [6]:
movies = []
for file in files :
    file_path= os.path.join(DATA_DIR,file)
    with open(file_path,'r') as target_files:
        movie = json.load(target_files)
        #print movie
    movies.append(movie)

In [7]:
movies.head()

AttributeError: 'list' object has no attribute 'head'

In [8]:
print len(movies)

3728

In [9]:
import pandas as pd
movies_df = pd.DataFrame(movies)

In [10]:
movies_df.head()

,alt_title,director,domestic_gross,mojo_slug,opening_per_theater,opening_weekend_take,production_budget,release_date_limited,release_date_wide,title,widest_release,worldwide_gross,year
0,"10,000 B.C. (2008)",Roland Emmerich,94784201.0,10000bc,10518.0,35867488.0,105000000.0,None,2008-03-07,"10,000 B.C.",3454.0,269784201.0,2008.0
1,102 Dalmatians (2000),None,66957026.0,102dalmatians,7353.0,19883351.0,85000000.0,None,2000-11-22,102 Dalmatians,2704.0,183611771.0,2000.0
2,10 Things I Hate About You (1999),None,38178166.0,10thingsihateaboutyou,3668.0,8330681.0,30000000.0,None,1999-03-31,10 Things I Hate About You,2311.0,53478166.0,1999.0
3,10 Years (2012),Jamie Linden,203373.0,10years,7569.0,22707.0,NaN,None,2012-09-14,10 Years,63.0,203373.0,2012.0
4,11 Flowers (2013),None,9213.0,11flowers,1758.0,3516.0,NaN,None,2013-02-22,11 Flowers,2.0,NaN,2013.0

In [11]:
movies_df['year'].hist()

In [12]:
movies_df.plot.hist('year')

In [15]:
DATA_DIR2 = os.path.join('data', 'metacritic')
cric_files=os.listdir(DATA_DIR2)

In [16]:
cric_files[:10]

['10-things-i-hate-about-you_parsed.json',
 '10-years_parsed.json',
 '10000-bc_parsed.json',
 '101-dalmatians_parsed.json',
 '102-dalmatians_parsed.json',
 '11-11-11_parsed.json',
 '11-flowers_parsed.json',
 '1114_parsed.json',
 '12-rounds_parsed.json',
 '12-years-a-slave_parsed.json']

In [17]:
crics = []
for file in cric_files :
    file_path= os.path.join(DATA_DIR2,file)
    with open(file_path,'r') as target_files:
        cric = json.load(target_files)
        #print movie
    crics.append(cric)

In [18]:
print len(crics)

4767

In [19]:
crics[:10]

[{u'complete': True,
  u'director': u'Gil Junger',
  u'genre': [u'Comedy', u'Romance'],
  u'metacritic_page': u'/movie/10-things-i-hate-about-you',
  u'metascore': 70,
  u'num_critic_reviews': [18, 7, 1, 26],
  u'num_user_ratings': 175,
  u'num_user_reviews': [27, 1, 1, 29],
  u'rating': u'PG-13',
  u'release_date': u'1999-03-31',
  u'runtime_minutes': 97,
  u'studio': u'Buena Vista Pictures',
  u'title': u'10 Things I Hate About You',
  u'user_score': 7.0,
  u'year': 1999},
 {u'complete': True,
  u'director': u'Jamie Linden',
  u'genre': [u'Drama', u'Comedy', u'Romance'],
  u'metacritic_page': u'/movie/10-years',
  u'metascore': 61,
  u'num_critic_reviews': [7, 11, 0, 18],
  u'num_user_ratings': 12,
  u'num_user_reviews': [3, 2, 1, 6],
  u'rating': u'R',
  u'release_date': u'2012-09-14',
  u'runtime_minutes': 100,
  u'studio': u'Anchor Bay Entertainment',
  u'title': u'10 Years',
  u'user_score': 6.6,
  u'year': 2012},
 {u'complete': True,
  u'director': u'Roland Emmerich',
  u'genre': [u'Adventure', u'Drama', u'Fantasy'],
  u'metacritic_page': u'/movie/10000-bc',
  u'metascore': 34,
  u'num_critic_reviews': [4, 8, 17, 29],
  u'num_user_ratings': 273,
  u'num_user_reviews': [50, 18, 60, 128],
  u'rating': u'PG-13',
  u'release_date': u'2008-03-07',
  u'runtime_minutes': 109,
  u'studio': u'Warner Bros. Pictures',
  u'title': u'10,000 BC',
  u'user_score': 4.6,
  u'year': 2008},
 {u'complete': True,
  u'director': u'Stephen Herek',
  u'genre': [u'Adventure', u'Comedy', u'Family'],
  u'metacritic_page': u'/movie/101-dalmatians',
  u'metascore': 49,
  u'num_critic_reviews': [8, 9, 3, 20],
  u'num_user_ratings': 78,
  u'num_user_reviews': [5, 5, 0, 10],
  u'rating': u'G',
  u'release_date': u'1996-11-27',
  u'runtime_minutes': 103,
  u'studio': u'Buena Vista Pictures',
  u'title': u'101 Dalmatians',
  u'user_score': 5.9,
  u'year': 1996},
 {u'complete': True,
  u'director': u'Kevin Lima',
  u'genre': [u'Comedy', u'Family'],
  u'metacritic_page': u'/movie/102-dalmatians',
  u'metascore': 35,
  u'num_critic_reviews': [7, 5, 12, 24],
  u'num_user_ratings': 47,
  u'num_user_reviews': [7, 3, 3, 13],
  u'rating': u'G',
  u'release_date': u'2000-11-22',
  u'runtime_minutes': 100,
  u'studio': u'Buena Vista Pictures',
  u'title': u'102 Dalmatians',
  u'user_score': 5.3,
  u'year': 2000},
 {u'complete': True,
  u'director': u'Darren Lynn Bousman',
  u'genre': [u'Thriller', u'Horror'],
  u'metacritic_page': u'/movie/11-11-11',
  u'metascore': 26,
  u'num_critic_reviews': [0, 2, 3, 5],
  u'num_user_ratings': 18,
  u'num_user_reviews': [2, 2, 5, 9],
  u'rating': u'Not Rated',
  u'release_date': u'2011-11-11',
  u'runtime_minutes': 90,
  u'studio': u'Rocket Releasing',
  u'title': u'11-11-11',
  u'user_score': 4.3,
  u'year': 2011},
 {u'complete': False,
  u'director': u'Xiaoshuai Wang',
  u'genre': [u'Drama'],
  u'metacritic_page': u'/movie/11-flowers',
  u'metascore': 71,
  u'num_critic_reviews': [4, 3, 0, 7],
  u'num_user_ratings': None,
  u'num_user_reviews': [1, 0, 0, 1],
  u'rating': u'Not Rated',
  u'release_date': u'2013-02-22',
  u'runtime_minutes': 110,
  u'studio': u'First Run Features',
  u'title': u'11 Flowers',
  u'user_score': u'tbd',
  u'year': 2013},
 {u'complete': True,
  u'director': u'Greg Marcks',
  u'genre': [u'Thriller', u'Comedy', u'Crime'],
  u'metacritic_page': u'/movie/1114',
  u'metascore': 65,
  u'num_critic_reviews': [3, 1, 0, 4],
  u'num_user_ratings': 31,
  u'num_user_reviews': [11, 0, 1, 12],
  u'rating': u'TV-MA',
  u'release_date': u'2005-08-12',
  u'runtime_minutes': 86,
  u'studio': u'New Line Cinema',
  u'title': u'11:14',
  u'user_score': 7.2,
  u'year': 2005},
 {u'complete': True,
  u'director': u'Renny Harlin',
  u'genre': [u'Action', u'Thriller', u'Crime'],
  u'metacritic_page': u'/movie/12-rounds',
  u'metascore': 38,
  u'num_critic_reviews': [1, 5, 7, 13],
  u'num_user_ratings': 66,
  u'num_user_reviews': [3, 5, 12, 20],
  u'rating': u'PG-13',
  u'release_date': u'2009-03-27',
  u'runtime_minutes': 108,
  u'studio': u'Fox Atomic',
  u'title': u'12 Rounds',
  u'user_score': 5.0,
  u'year': 2009},
 {u'complete': True,
  u'director': u'Steve McQueen',
  u'genre': [u'Biography', u'Drama', u'History'],
  u'metacritic_page': u'/movie/12-years-a-slave',
  u'metascore': 97,
  u'num_critic_reviews': [47, 1, 0, 48],
  u'num_user_ratings': 871,
  u'num_user_reviews': [156, 11, 25, 192],
  u'rating': u'R',
  u'release_date': u'2013-10-18',
  u'runtime_minutes': 134,
  u'studio': u'Fox Searchlight Pictures',
  u'title': u'12 Years a Slave',
  u'user_score': 8.0,
  u'year': 2013}]

In [20]:
    
crics_df = pd.DataFrame(crics)

AttributeError: 'list' object has no attribute 'keys'

In [21]:
movies[:10]

[{u'alt_title': u'10,000 B.C. (2008)',
  u'director': u'Roland Emmerich',
  u'domestic_gross': 94784201,
  u'mojo_slug': u'10000bc',
  u'opening_per_theater': 10518,
  u'opening_weekend_take': 35867488,
  u'production_budget': 105000000,
  u'release_date_limited': None,
  u'release_date_wide': u'2008-03-07',
  u'title': u'10,000 B.C.',
  u'widest_release': 3454,
  u'worldwide_gross': 269784201,
  u'year': 2008},
 {u'alt_title': u'102 Dalmatians (2000)',
  u'director': None,
  u'domestic_gross': 66957026,
  u'mojo_slug': u'102dalmatians',
  u'opening_per_theater': 7353,
  u'opening_weekend_take': 19883351,
  u'production_budget': 85000000,
  u'release_date_limited': None,
  u'release_date_wide': u'2000-11-22',
  u'title': u'102 Dalmatians ',
  u'widest_release': 2704,
  u'worldwide_gross': 183611771,
  u'year': 2000},
 {u'alt_title': u'10 Things I Hate About You (1999)',
  u'director': None,
  u'domestic_gross': 38178166,
  u'mojo_slug': u'10thingsihateaboutyou',
  u'opening_per_theater': 3668,
  u'opening_weekend_take': 8330681,
  u'production_budget': 30000000,
  u'release_date_limited': None,
  u'release_date_wide': u'1999-03-31',
  u'title': u'10 Things I Hate About You',
  u'widest_release': 2311,
  u'worldwide_gross': 53478166,
  u'year': 1999},
 {u'alt_title': u'10 Years (2012)',
  u'director': u'Jamie Linden',
  u'domestic_gross': 203373,
  u'mojo_slug': u'10years',
  u'opening_per_theater': 7569,
  u'opening_weekend_take': 22707,
  u'production_budget': None,
  u'release_date_limited': None,
  u'release_date_wide': u'2012-09-14',
  u'title': u'10 Years',
  u'widest_release': 63,
  u'worldwide_gross': 203373,
  u'year': 2012},
 {u'alt_title': u'11 Flowers (2013)',
  u'director': None,
  u'domestic_gross': 9213,
  u'mojo_slug': u'11flowers',
  u'opening_per_theater': 1758,
  u'opening_weekend_take': 3516,
  u'production_budget': None,
  u'release_date_limited': None,
  u'release_date_wide': u'2013-02-22',
  u'title': u'11 Flowers ',
  u'widest_release': 2,
  u'worldwide_gross': None,
  u'year': 2013},
 {u'alt_title': u'The 11th Hour (2007)',
  u'director': None,
  u'domestic_gross': 707343,
  u'mojo_slug': u'11thhour',
  u'opening_per_theater': 15213,
  u'opening_weekend_take': 60853,
  u'production_budget': None,
  u'release_date_limited': None,
  u'release_date_wide': u'2007-08-17',
  u'title': u'The 11th Hour',
  u'widest_release': 111,
  u'worldwide_gross': 985207,
  u'year': 2007},
 {u'alt_title': u'127 Hours (2010)',
  u'director': u'Danny Boyle',
  u'domestic_gross': 18335230,
  u'mojo_slug': u'127hours',
  u'opening_per_theater': 2333,
  u'opening_weekend_take': 2136801,
  u'production_budget': 18000000,
  u'release_date_limited': u'2010-11-05',
  u'release_date_wide': u'2011-01-28',
  u'title': u'127 Hours',
  u'widest_release': 916,
  u'worldwide_gross': 60738797,
  u'year': 2010},
 {u'alt_title': u'12 Rounds (2009)',
  u'director': u'Renny Harlin',
  u'domestic_gross': 12234694,
  u'mojo_slug': u'12rounds',
  u'opening_per_theater': 2286,
  u'opening_weekend_take': 5329240,
  u'production_budget': None,
  u'release_date_limited': None,
  u'release_date_wide': u'2009-03-27',
  u'title': u'12 Rounds',
  u'widest_release': 2331,
  u'worldwide_gross': 17280326,
  u'year': 2009},
 {u'alt_title': u'13 Assassins (2011)',
  u'director': None,
  u'domestic_gross': 802778,
  u'mojo_slug': u'13assassins',
  u'opening_per_theater': 11464,
  u'opening_weekend_take': 45854,
  u'production_budget': None,
  u'release_date_limited': None,
  u'release_date_wide': u'2011-04-29',
  u'title': u'13 Assassins ',
  u'widest_release': 31,
  u'worldwide_gross': 17555141,
  u'year': 2011},
 {u'alt_title': u'13 Going on 30 (2004)',
  u'director': u'Gary Winick',
  u'domestic_gross': 57231747,
  u'mojo_slug': u'13goingon30',
  u'opening_per_theater': 6123,
  u'opening_weekend_take': 21054283,
  u'production_budget': 37000000,
  u'release_date_limited': None,
  u'release_date_wide': u'2004-04-23',
  u'title': u'13 Going on 30',
  u'widest_release': 3453,
  u'worldwide_gross': 96455697,
  u'year': 2004}]

In [22]:
crics[0]

{u'complete': True,
 u'director': u'Gil Junger',
 u'genre': [u'Comedy', u'Romance'],
 u'metacritic_page': u'/movie/10-things-i-hate-about-you',
 u'metascore': 70,
 u'num_critic_reviews': [18, 7, 1, 26],
 u'num_user_ratings': 175,
 u'num_user_reviews': [27, 1, 1, 29],
 u'rating': u'PG-13',
 u'release_date': u'1999-03-31',
 u'runtime_minutes': 97,
 u'studio': u'Buena Vista Pictures',
 u'title': u'10 Things I Hate About You',
 u'user_score': 7.0,
 u'year': 1999}

In [23]:
type(crics)

list

In [24]:
type(crics[0])

dict

In [28]:
movies_df['year'].count()

3721

In [29]:
movies_df.describe()

,domestic_gross,opening_per_theater,opening_weekend_take,production_budget,widest_release,worldwide_gross,year
count,3.653000e+03,3548.000000,3.548000e+03,1.591000e+03,3576.000000,2.821000e+03,3721.000000
mean,3.587710e+07,7769.070744,8.919290e+06,4.594223e+07,1359.910794,9.117943e+07,2004.740124
std,5.660351e+07,8251.101404,1.403204e+07,4.056849e+07,1293.817347,1.489563e+08,9.127232
min,7.200000e+01,72.000000,7.200000e+01,2.200000e+02,1.000000,7.200000e+01,1933.000000
25%,6.353250e+05,3212.000000,4.748775e+04,1.675000e+07,52.000000,5.710236e+06,2001.000000
50%,1.323532e+07,5520.500000,3.334686e+06,3.500000e+07,1074.500000,3.554776e+07,2007.000000
75%,4.966253e+07,9463.500000,1.268750e+07,6.500000e+07,2584.250000,1.166729e+08,2011.000000
max,7.605076e+08,204230.000000,1.741446e+08,2.150000e+08,4468.000000,2.787965e+09,2015.000000

In [30]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3728 entries, 0 to 3727
Data columns (total 13 columns):
alt_title               3728 non-null object
director                2172 non-null object
domestic_gross          3653 non-null float64
mojo_slug               3728 non-null object
opening_per_theater     3548 non-null float64
opening_weekend_take    3548 non-null float64
production_budget       1591 non-null float64
release_date_limited    293 non-null object
release_date_wide       3718 non-null object
title                   3728 non-null object
widest_release          3576 non-null float64
worldwide_gross         2821 non-null float64
year                    3721 non-null float64
dtypes: float64(7), object(6)
memory usage: 378.7+ KB

In [32]:
movies_df['production_budget'].nlargest(10)

2038    215000000.0
348     209000000.0
17      200000000.0
620     200000000.0
1435    200000000.0
1760    200000000.0
1761    200000000.0
2661    200000000.0
3278    200000000.0
3279    200000000.0
Name: production_budget, dtype: float64

##
top midrector movies

N = 4
top_directors = movies_df.director.value_counts().index[:N]
top_dir_movies = movies[movies['director'].isin(top_directors)]

print '%i movies by top %i directors: %s.' % (len(top_dir_movies),
                                              N,
                                              ', '.join(top_directors))

top_dir_movies.head()

In [43]:
N=4
top_directors = movies_df.director.value_counts().index[:N]
top_dir_movies = movies_df[movies_df['director'].isin(top_directors)]

In [44]:
top_dir_movies.head()

,alt_title,director,domestic_gross,mojo_slug,opening_per_theater,opening_weekend_take,production_budget,release_date_limited,release_date_wide,title,widest_release,worldwide_gross,year
71,8MM (1999),Joel Schumacher,36663315.0,8mm,6013.0,14252888.0,40000000.0,None,1999-02-26,8MM,2370.0,96618699.0,1999.0
138,Alien (1979),Ridley Scott,80931801.0,alien,8366.0,5312945.0,11000000.0,1979-05-25,1979-06-22,Alien,757.0,104931801.0,1979.0
169,American Gangster (2007),Ridley Scott,130164645.0,americangangster,14264.0,43565115.0,100000000.0,None,2007-11-02,American Gangster,3110.0,266465037.0,2007.0
183,Amistad (1997),Steven Spielberg,44229441.0,amistad,7270.0,5176006.0,36000000.0,1997-12-10,1997-12-26,Amistad,1019.0,NaN,1997.0
226,Anything Else (2003),Woody Allen,3212310.0,anythingelse,1619.0,1673125.0,18000000.0,None,2003-09-19,Anything Else,1033.0,13585075.0,2003.0